.label_top {
  padding: 0px;
  padding-right:15px;
  font-size: large;
  font-family: HelveticaRegular;
  font-weight: 400;
  line-height:2
}

textarea {
  width: 500px;
  height: 120px;
  font-size: 16px;
  font-family: HelveticaRegular;
  font-weight: 400;
}

.input__button {
  height: 50px;
  font-size: 18px;
}

.better-placeholder {
  position: relative;
}

.better-placeholder__select {
  padding: 10px 10px 10px 10px;
  width: 500px;
  font-size: 16px;
}

.better-placeholder__input {
  padding: 16px 10px 4px 10px;
  width: 500px;
  font-size: 16px;
}
.better-placeholder__input:placeholder-shown {
  padding: 10px;
}

.better-placeholder__label {
  position: absolute;
  top: 4px;
  left: 14px;
  font-size: 12px;
  color: gray;
}

.better-placeholder__input:placeholder-shown +  .better-placeholder__label {
  display: none;
}

@media screen and (max-width: 768px) {
  .better-placeholder__input {
    width: 350px;
  }
  textarea {
	  width: 350px;
  }
  .better-placeholder__select {
	  width: 350px;
  }
}

@media screen and (max-width: 320px) {
  .better-placeholder__input {
    width: 250px;
  }
  textarea {
	  width: 250px;
  }
  .better-placeholder__select {
	  width: 250px;
  }
}