.modal {
  width: 470px;
  height: 350px;
  background: #fff;
  border: 2px solid #000;
  padding: 10px;
  position: fixed;
  left: 45%;
  top: 45%;
  margin-left: -150px;
  margin-top: -150px;
  box-sizing: border-box;
  display: none;
  z-index: 4;
}

.modal__control {
  display: none;
}

.modal__close {
  cursor: pointer;
  position: absolute;
  right: 10px;
  top: 10px;
}
.modal__control_open:checked + .modal__close-overlay + .modal{
  display: block;
}

.modal__control_open:checked + .modal__close-overlay {
  position: fixed;
  display: block;
  width: 100%;
  height: 100%;
  z-index: 3;
}
.modal__link {
  text-decoration: underline;
  cursor: pointer;
}
.modal__header {
  text-align: center;
  padding: 5px 0;
}

.better-placeholder__input_call {
  padding: 16px 10px 4px 10px;
  width: 440px;
  font-size: 16px;
}

.better-placeholder__label {
  position: absolute;
  top: 4px;
  left: 14px;
  font-size: 12px;
  color: gray;
}

.better-placeholder__input_call:placeholder-shown +  .better-placeholder__label {
  display: none;
}

.input__button_call {
  height: 50px;
  font-size: 18px;
}

@media screen and (max-width: 480px) {
	.modal {
		width: 98%;
		height: 350px;
		left: 1%;
		margin-left: 0px;
	}
	.better-placeholder__input_call {
		width: 370px;
	}
}