  /* Разрешения экранов от 768px до 1680px */
@media screen and (min-width:768px) and (max-width:1679px) {
body { 
	width: 98%;
	margin: 5px auto 0 auto;
	}
/* Скрытые элементы */
	.index320 {
		display: none;
	}
	.index1680 {
		display: none;
	}
#leftmenu { 
		background: #ffffff; 
		float: left; 
		width: 200px;
		margin-top: 0px;
		padding-top: 10px;
	}
#content { 
		background: #ffffff; 
		margin: 0 0 0 200px; /* Отступ справа и слева */
		padding-top: 10px;
		padding-left: 10px;
	}
footer {
		margin-bottom: 30px;
	}
}