/* Разрешения экранов от 320px до 768px обе ориентации */
@media only screen and (min-device-width:320px) and (max-device-width:767px) and (-webkit-min-device-pixel-ratio: 1) {
	body {
		width: 98%;
		margin: 0 auto;
	}
/* Скрытые элементы */
	#leftmenu {
		display: none;
	}
	.index768 {
		display: none;
	}
	.index1680 {
		display: none;
	}
	p.speechleft:before { 
	content: ' '; 
	position: absolute; 
	width: 0; 
	height: 0; 
	left: 3%; 
	top: 100%; 
	border: 25px solid; 
	border-color: #0a2a0a transparent transparent #0a2a0a; 
}
p.speechleft:after { 
	content: ' '; 
	position: absolute; 
	width: 0; 
	height: 0; 
	left: 5%; 
	top: 100%; 
	border: 15px solid; 
	border-color: #0a2a0a transparent transparent #0a2a0a; 
}
p.speechright:before { 
	content: ' '; 
	position: absolute; 
	width: 0; 
	height: 0; 
	left: 85%; 
	top: 100%; 
	border: 25px solid; 
	border-color: #82fa58 #82fa58 transparent transparent; 
}
p.speechright:after { 
	content: ' '; 
	position: absolute; 
	width: 0; 
	height: 0; 
	left: 87%; 
	top: 100%; 
	border: 15px solid; 
	border-color: #82fa58 #82fa58 transparent transparent; 
}
}